<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LocalDebug</key>
	<false/>
	<key>OauthIdentifier</key>
	<string>gBPYtr7tw4K+H0bZUfK5ZQ==</string>
	<key>OauthSecret</key>
	<string>kLSuEj0zY/v9XeCbXGRCctorBt8R0+Nk4j4u7dc5/K56yHoiTFGSeIguIHP7p11Y1iBWxfw93XMSHiYmZe9aEQ==</string>
</dict>
</plist>
